@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    --mainBg: #000000ce;
    --headerColor: #2be24c;
    --textShadow: rgba(0, 0, 0, 0.16) 8px 10px 5px;
    --buttonBg: #2be24cb3;
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    margin: 0;
    background-image: url(./nik-owens-40OJLYVWeeM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#content {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / 1fr;
}

/* Header */
header {
    text-align: center;
    background-color: var(--mainBg);
    padding-bottom: 2rem;;
}

header h1 {
    color: var(--headerColor);
    font-weight: 700;
    font-size: 4rem;
    text-shadow: var(--textShadow);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* Buttons */
button {
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    transition: filter 0.15s ease-in-out;
    box-shadow: 5px 5px;
    outline: none;
    background-color: var(--buttonBg);
}

button:hover {
    filter: brightness(90%);
    transform: scale(1.1);
}
button:active {
    transform: scale(1.2);
}

/* Main */
.mainContent,
.pizzaCard {
    text-align: center;
    color:white;
    background-color: var(--mainBg);
    padding: 2rem;
    margin: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.mainContent img {
    width: 60%;
}

.pizzaCard img {
    height: auto;
    width: 100%;
}

.pizzaCard h3 {
    font-size: 2rem;
    font-weight: 500;
}

.displayGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

/* Footer */
footer {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#gh-logo {
    width: 35px;
    height: 35px;
}

footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 5px;
}